// HPC config (SLURM-based)

executor {
    name            = 'slurm'
    queueSize       = 20
    submitRateLimit = '5 sec'
    pollInterval    = '1sec'
    retry.delay     = '1sec'
}

// Process configuration
process {

    // Cluster-specific options (e.g., partition name, billing account, etc.)
    // clusterOptions = '-p amd'

     //     --job-name=BatchITSx
     //     --output=${params.outdir}/logs/%x.%j.out
     //     --error=${params.outdir}/logs/%x.%j.err


    // Error strategy
    errorStrategy = { task.exitStatus in [1,104,125,130,134,135,137,139,140,143,255] ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'

    // Process-specific resources (e.g., higher than default)
    // ...

}


